# The following files will be ignored
*.cmake
CMakeCache.txt
install_manifest.txt
Makefile
CMakeFiles/*
doxyDoc/*
*.out
data/*
include/config.h
pypaxpro/__pycache__/*
pypaxpro/*_wrap*
pypaxpro/pypaxpro.py
pypaxpro/pypaxpro.pyc
src/CMakeFiles/progress.marks
Examples/*.o
*.o
*.so
Testing/*
unittest/libpaxprotesting.a
unittest/CMakeFiles/*
pyconfig.py
pyconfig.pyc

pypaxpro/config.sh
raw_input.txt
