language: c++

before_install:
  - sudo apt-get install cmake
  - sudo apt-get install liblapacke-dev liblapacke
  - sudo apt-get install libopenblas-dev libopenblas-base
  - sudo apt-get install libgsl0-dev
  - sudo apt-get install libjsoncpp-dev
  - sudo apt-get install libhdf5-dev libhdf5-serial-dev
  - sudo apt-get install libfltk1.3-dev
  - sudo apt-get install libfftw3-dev
  - sudo apt-get install libgtest-dev
  - wget http://prdownloads.sourceforge.net/swig/swig-3.0.12.tar.gz
  - tar xf swig-3.0.12.tar.gz
  - cd swig-3.0.12
  - ./configure
  - make
  - sudo make install
  - cd ${TRAVIS_BUILD_DIR}
  - wget http://sourceforge.net/projects/arma/files/armadillo-9.100.5.tar.xz
  - mkdir arma_temp
  - tar xf armadillo-9.100.5.tar.xz -C arma_temp
  - cd arma_temp/armadillo-9.100.5/
  - ./configure
  - make
  - sudo make install
  - cd ${TRAVIS_BUILD_DIR}
  - wget https://www.sfml-dev.org/files/SFML-2.5.0-linux-gcc-64-bit.tar.gz
  - mkdir sfml_tmp
  - tar -xzvf SFML-2.5.0-linux-gcc-64-bit.tar.gz -C sfml_tmp
  - export CPATH=${CPATH}:${TRAVIS_BUILD_DIR}/sfml_tmp/SFML-2.5.0/include
  - export LIBRARY_PATH=${LIBRARY_PATH}:${TRAVIS_BUILD_DIR}/sfml_tmp/SFML-2.5.0/lib
  - git clone https://github.com/davidkleiven/VISA.git
  - cd VISA/
  - bash configure.sh
  - cmake . -DSFML_DIR=${TRAVIS_BUILD_DIR}/sfml_tmp/SFML-2.5.0/lib/cmake/SFML
  - make
  - sudo make install
  - cd ..

install:
  - cmake . -DSFML_DIR=${TRAVIS_BUILD_DIR}/sfml_tmp/SFML-2.5.0/lib/cmake/SFML -DJSON_DIR=${TRAVIS_BUILD_DIR}/cmake_modules/
  - make
  - sudo make install
  - mkdir data
  - make sphere.out
  - make waveguide2D.out
  - make primitiveGeomExample.out

script:
  - ./waveguide2D.out
  - ./primitiveGeomExample.out
  - export PYTHONPATH=${PYTHONPATH:/usr/local/lib/python/PaxPro
  - python
